body{
    background-image: url('../images/loginBackground2.jpg');
    background-size: cover;
    color: white;
    font-family: poppins, sans-serif;
}

.login-card{
    max-width: 420px;
    background: rgba(255, 255, 255, .08);
    border: 1px solid rgba(55, 255, 255, .02);
    border-radius: 22px;
    padding: 2rem;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(10px);
}

.form-control{
    background: rgba(255, 255, 255, .12);
    border: 1px solid rgba(255, 255, 255, .25);
    color: white;

}

.form-control::placeholder{
    color: rgba(255, 255, 255, 0.8);

}

.form-control:focus{
    background: rgba(30, 30, 30, 0.9);
    border: 1px solid rgba(255, 255, 255, .25);
    color: white;
    
}

.btn{
    border-radius: 999px;
    padding: 0.7rem;
}